flask
flask-sqlalchemy
flask-bcrypt
python-dotenv
flask-session
redis
flask-cors
psycopg2-binary
selenium
beautifulsoup4
pandas
psycopg2
tensorflow
pytesseract
Pillow
langdetect
torch 
torchvision
opencv-python-headless
numpy
matplotlib 
schedule
GNews
